@import "tailwindcss";
@plugin "daisyui" {
   themes: bumblebee --default, halloween --prefersdark;
}
@plugin "daisyui/theme" {
  name: "halloween";
  prefersdark: true;
  --color-base-100: oklch(0.2108 0.0044 285.82);
  --color-base-200: oklch(0.1408 0.0044 285.82);
  --color-base-300: oklch(0 0.0044 285.82);
  --color-info:oklch(74% 0.16 232.661);
  --color-neutral: oklch(26% 0.007 34.298);
}
@plugin "daisyui/theme" {
  name: "bumblebee";
  default:true;
  --color-primary:blue;
  --color-neutral: oklch(90% 0 0);
}
body{
  font-family: 'IBM Plex', monospace;
}